.footer{
	margin-top:50px;
	display: block;
	width: 100%;
	background-color: #777;
	height: 30px;
}
@media screen and(min-width: 768px)
{
	.content-footer{
		width: 750px;
	}
}

.footer{
	margin-left: auto;
	margin-right: auto;
	line-height: 36px;
}

.content-footer
{
	margin-right: 15px;
	margin-left: 15px;
}*/