/*offset*/

*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
.offset-col-12{
	margin-left: 100%;
	
}
.offset-col-11{
	margin-left: 91.66%;
	
}
.offset-col-10{
	margin-left: 83.33%;
	
}
.offset-col-9{
	margin-left: 75%;
	
}
.offset-col-8{
	margin-left: 66.66%;
	
}
.offset-col-7{
	margin-left: 58.33%;
	
}
.offset-col-6{
	margin-left: 50%;
	
}
.offset-col-5{
	margin-left: 41.66%;
}
.offset-col-4{
	margin-left: 33.33%;
}
.offset-col-3{
	margin-left: 25%;
}
.offset-col-2{
	margin-left: 16.66%;
	
}
.offset-col-1{
	margin-left: 8.33%;
	

}
/*end offset*/