html{
    font-family: cairo;
}

@media only screen and (max-width:768px)
{

  .col-6{
    width: 100%;
  }
}

@media screen and (min-width: 768px)
{
  .content {
      width: 750px;
  }
}

@media screen and (min-width: 992px)
{
  .content {
    width: 990px;
  }
}

@media  screen and (min-width: 1260px)
{
  .content {
    width: 1230px;
  }
}

body
{
  margin-top: 0px;
}

h4{
	margin-left: -30px;
}
.content{
	margin:auto;
	margin-top: 30px;
}


.container .content .row-2 .col-6 h4{
	font-weight: bold;
	color: #1e3948;
	padding-top: 20px;

}

.container .content .row-2 .col-6 ul{

	padding-top: 20px;
	line-height: 1.8;
}
li {
	display: list-item;
}
.row-2{
	padding-left: 28px;
	padding-right: 15px;
}
.row-3 {
	margin-top: 50px;
}

.row-3 a {
	color: #ff9999;
	text-decoration: none;
}


